@font-face {
  font-family: Oxygen;
  src:local('./fonts/Oxygen-Regular.ttf');
}

:root{
  --bg: #17191e;
  --bg-shade: #303134;
  --bg-shade-light: #1e2027;
  --text: #FFFFFF;
  --text-shade: #8b8b8b;
  --primary: #e28b3a;
  --primary-shade: #cc742c;
  --secondary: rgba(35, 40, 48, 0.75);
  --accent: #F7EEDB;
  --error: #D00617;
  --success: #fff;
}

/* Text Configuration */
html {font-size: 100%;} /*18px*/

body{
  background: var(--bg);
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


/* Reset anchor */
a{
  text-decoration: none;
  font-size:medium;
  color: var(--text);
}
a:visited{
  text-decoration: none;  
}

main{
  width: 100%;
  min-height: 92dvh;
}
