.edit_form{
  & .form_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & svg{
      width: 2rem;
    }
    & input{
      margin-left: 0.5rem;
      height: 1.8rem;
      border: 0.5px solid white;
      background-color: var(--bg-shade-light);
      color: var(--text);
    }
  }
}